[submodule "SConsStandard"]
	path = SConsStandard
	url = https://github.com/lunarwatcher/SConsStandard
[submodule "TermUtils"]
	path = TermUtils
	url = https://github.com/LunarWatcher/TermUtils
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2/
